<% provide(:pageTitle, '首页') %>
<div class="center hero-unit">
  <%= link_to "马上注册", signup_path, class: "btn btn-large btn-primary" %>
</div>
  <%= link_to image_tag("logo.png", alt: "logo"),"http://baidu.com/" %>
